interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.clo.ru/v1/keypairs?name=test&public_key=ssh-ed25519+AAAAC3NzaC1lZDI1NTE5AAAAIOxp%2BMNcz%2Beb3xmdnSTicxmrvq2UpWN278vKgweDg1Ik+test
  response:
    body:
      string: '{"code": 201, "title": "Created", "result": {"name": "test", "id":
        "6e38910e-7bd6-4322-8cee-985df685097a", "public_key": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOxp+MNcz+eb3xmdnSTicxmrvq2UpWN278vKgweDg1Ik
        test"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: CREATED
version: 1
