interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.clo.ru/v1/keypairs
  response:
    body:
      string: '{"code": 200, "title": "OK", "results": [{"name": "test", "id": "6e38910e-7bd6-4322-8cee-985df685097a",
        "public_key": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOxp+MNcz+eb3xmdnSTicxmrvq2UpWN278vKgweDg1Ik
        test"}], "count": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.clo.ru/v1/keypairs/6e38910e-7bd6-4322-8cee-985df685097a/delete
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: NO CONTENT
version: 1
