interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.clo.ru/v1/keypairs
  response:
    body:
      string: '{"code": 401, "title": "Unauthorized", "error": {"message": "User is
        unauthorized"}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '0'
      X-RateLimit-Limit:
      - '120'
      X-RateLimit-Remaining:
      - '120'
      X-RateLimit-Reset:
      - '1655416563'
    status:
      code: 401
      message: UNAUTHORIZED
version: 1
